# Python virtual environment
ProjectVenv/
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Database files
*.db
*.db-journal

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env

# Streamlit specific
.streamlit/

# Temporary files
temp/
tmp/